*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
     background-color: blueviolet;
} 
header{
    background-color: blueviolet;
    position: sticky;
    top: 0;
    padding-bottom: 10px;
    z-index: 999;
} 
.container{
    background-color: blueviolet;
    width: 100vw;
    min-height : 100vh;
    color: #fff;
    padding: 50px 100px;
}
.container h1 img{
    width: 50px;
    height: 55px;
}
.container h1{
    display:flex ;
    align-items: center;
}
.btn{
    display: flex;
    text-align: center;
    margin-top: 20px;
    gap: 5px;
    color: #fff;
    outline: 0;
    border: 0;
    width: 140px;
    padding: 10px 15px;
    background-color: blue;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 600;
    font-size: 14px;
}
.btn:hover{
    background-color: black;
}
.btn img{
    width: 18px;
    
}
.input{
    border: 0;
    outline: 0;
    margin-top:20px;
    width: 500px;
    min-height: 150px;
    background-color: #fff;
    color: black;
    position: relative;
    padding: 10px;
    overflow: hidden;
    border-radius: 5px;
    text-align: start;
}
.input img{
    position: absolute;
    height: 25px;
    width: 30px;
    right: 5px;
    bottom: 3px;
}